.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.book-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.book-list-item {
  width: 30%;
  list-style: none;
}

.thumbnail {
  /* border: 1px solid #ddd;
  border-radius: 4px; */
  padding: 5px;
  width: 150px;
}

.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  width: 280px;
  margin-top: 10px;
  border-radius: 1.25rem !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card-img {
  width: 280px;
  border-radius: calc(1.25rem - 1px) !important;
}
p {
  text-align: center;
}
.modal-content {
  width: max-content;
  overflow: auto;
}
.badge-size {
  font-size: 80% !important;
}
